<div class="root app__page">
  <div class="root__link">
    <span>Recipes</span>&nbsp; <span>/</span>&nbsp;
    <span class="text-neutral__900 txt__9">{{ recipe()?.name }}</span>
  </div>

  <div class="root__item">
    <div class="item__img">
      <div class="img__wrapper">
        <app-img-loading [src]="recipe()?.img ?? ''" />
      </div>
    </div>

    <div class="item__texts">
      <span class="txt__8 text-neutral__900">{{ recipe()?.name }}</span>

      <span class="txt__9 text-neutral__600">{{ recipe()?.description }}</span>
    </div>

    <div class="item__info">
      <div class="info__row">
        <div class="row__svg">
          <ng-container *ngComponentOutlet="SvgFood" />
        </div>
        <div class="row__data">
          <span class="">Servings:</span>
          <span>&nbsp;{{ recipe()?.servings }}</span>
        </div>
      </div>

      <div class="info__row">
        <div class="row__svg">
          <ng-container *ngComponentOutlet="SvgTimer" />
        </div>
        <div class="row__data">
          <span class="">Prep:</span>
          <span>&nbsp;{{ recipe()?.prep }} Mins</span>
        </div>
      </div>

      <div class="info__row">
        <div class="row__svg">
          <ng-container *ngComponentOutlet="SvgFood" />
        </div>
        <div class="row__data">
          <span class="">Cook:</span>
          <span>&nbsp;{{ recipe()?.cook }} Mins</span>
        </div>
      </div>
    </div>

    <div class="item__ing">
      <span class="text-neutral__900 txt__7">Ingredients:</span>

      <div class="ing__list">
        @for (item of recipe()?.ingredients; track item.id) {
          <div class="list__item">
            <div class="item__svg">
              <ng-container *ngComponentOutlet="SvgRight" />
            </div>

            <span>{{ item.ingredient }}</span>
          </div>
        }
      </div>
    </div>

    <div class="item__inst">
      <span class="text-neutral__900 txt__7">Instructions:</span>

      <div class="inst__list">
        @for (item of recipe()?.instructions; track item.id) {
          <div class="list__item">
            <div class="item__svg">
              <ng-container *ngComponentOutlet="SvgRight" />
            </div>

            <span>{{ item.instruction }}</span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
