<div class="root">
  <button #btnRef (click)="toggleDrop()" type="button" class="root__btn">
    <div class="btn__label">
      <span class="txt__8 text-neutral__900">Max Prep Time</span>
      <div class="label__svg">
        <ng-container *ngComponentOutlet="SvgDown" />
      </div>
    </div>
  </button>

  @if (isDrop()) {
    <div #dropRef class="root__drop">
      @for (opt of optionsCheckbox(); track opt.id) {
        <button type="button" (click)="handleClick(opt.val)" class="drop__item">
          <input type="checkbox" [checked]="isChecked(opt.val)" />
          <span class="txt__8 text-neutral__600">{{ opt.label }}</span>
        </button>
      }
    </div>
  }

  <div class="field__err">
    <span>{{ errMsg() }}</span>
  </div>
</div>
